/* css styles */

/* Estilo para el pie de figura*/
.footer {
  font-size: 17px; /* Adjust the font size as needed */
  margin-top: 12px; /* Add some space between the image and footer */
  text-align: center; /* Center the footer text */
}